{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle formation{% endblock %}

{% block body %}

<div class="content">
    {% if edit %}
        <h1>Editer une formation existante</h1>
    {% else %}
        <h1>Ajoutez une nouvelle formation</h1>
    {% endif %}

    <div class="card">
        {{ form_start(formAddFormation) }}

        
        {{ form_end(formAddFormation) }}
    </div>
</div>

{% endblock %}