@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'dm sans';
    text-decoration: none;
    text-transform: none;
}

:root {
    background-color: #C9CBFF;
    --first-color: #45486A;
    --second-color: #F0EDFF;
    --third-color: #ABA9BC;
}








/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100dvh;
    background-color: #45486A;
    transition: left 0.5s ease;
    z-index: 1000; 
    border-radius: 0 50px 50px 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar ul {
    margin-top: 30%;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar a:hover {
   color: #ABA9BC;
}



.burger-toggler {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--second-color);
    font-size: 35px;
    z-index: 1001; 
}




/* BOUTONS */
.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn:hover {
    color: var(--third-color);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #3e4265;
    border-color: #3e4265;
    padding: 8px 18px;
    margin-bottom: 10px;
}

.btn-secondary {
    color: rgb(0, 0, 0);
    background-color: var(--second-color);
    border-color: var(--second-color);
    padding: 8px 18px;
    margin-bottom: 10px;
}
/* .btn-secondary:hover {
    color: #6788FF;
   
} */

.btn-warning {
    color: rgb(0, 0, 0);
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.btn-actions {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}


a:hover {
    color: var(--third-color);
}


.action-links {
    margin-top: 5px;
}
.action-links:hover {
    color: #6788FF;
}

.action-links a {
    margin-right: 10px;
    color: var(--third-color);
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}


.category-actions {
    display: flex;
    justify-content: space-evenly;
}
.category-actions .action {
    /* display: flex; */
    /* text-align: center; */
    /* margin-left: 5px; */
    color: #333;
}
.action {
    color: #333;
}

.action:hover {
    color: #6788FF;
}

.actions {
    text-align: center;
}


.content {
    margin-top: 5%;
    margin-left: 200px; 
    padding: 20px; 
    /* display: flex; */
}

.column {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    margin-top: 8px;
    margin-bottom: 15px;
}

.form-control {
    display: flex;
    width: 80%;
    /* color: var(--second-color); */
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--third-color);
    border-radius: 5px; 
    /* margin-bottom: 25px; */
}


.programm-form {
    /* margin-top: 40px; */
    color: var(--second-color);
    margin-bottom: 15px;
}

.form-module {
    width: 50%;
}

.form-session {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.content h1 {
    font-size: 30px;
    /* margin-bottom: 20px; */
}


.content h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 5px;
}

/* CARTES et LISTE */
.card {
    background-color: var( --first-color);
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 20px;
    h1,h2 {
        color: #F0EDFF;
    }
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .card a {
    color: var(--first-color);
} */

.card a:hover {
    color: #6788FF;
}

.card .action {
    margin-left: 10px;
    color: var(--second-color);
}

.card .action:hover {
    color: #6788FF;
}

/* .card p {
    color: var(--second-color);
} */

.list {
    background-color: var(--second-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    
    .action, a {
        color: #333;
    }
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.session-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-list-title {
    text-align: center;
    margin-bottom: 100px;
    h1 {
        font-size: 30px;
        /* margin-bottom: 30px; */
    }
}

.category-list {
    display: flex;
    width: fit-content;
    padding: 25px;
    background-color: var(--first-color);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}




/* TABLEAUX */
.table {
    width: 84%;
    /* margin: 0 auto; */
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid var(--third-color);
    text-align: left;
    background-color: var(--second-color);
}

.table th {
    background-color: var(--first-color);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: var(--third-color);
}

.table-module {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.session-title {
    width: 40%;
    td {
        overflow: hidden;
    }
}


label {
    color: var(--second-color);
}


.category {
    background-color: var(--second-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
}

.category-link {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.category-link:hover {
    color: #6788FF;
}



.module {
    display: flex;
    background-color: var(--second-color);
    margin: 15px;
    padding: 10px;
    border-radius: 10px; 
}


.modules {
    color: #333;
    .action {
        color: #333;
    }
    .action:hover {
        color: #6788FF;
    }
}

.user-info {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
}

.user-sessions {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
    .action {
        color: #333 ;
    }
}


.session-info {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.stagiaires {
    /* width: 100%; */
    color: var(--second-color);
    text-align: center;
}






/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 100px;
        
    }

    .navbar {
        left: -100px;
        ul {
            display: none;
        }
    }

    .active{
            top: 0;
            left: 0;
            display: block;
            /* transition: left 0.5s ease; */
            width: 200px;
            ul {
                display: block;
            }
       } 

       .burger-toggler {
           display: block;
       }

    .btn-actions {
        display: flex;
        flex-direction: column;
    }

    }

    @media only screen and (max-width: 640px) {
        .session-date-debut {
            display: none;
        }
        .session-date-fin {
            display: none;
        }
        .session-places {
            display: none;
        }

        .session-title {
            width: fit-content;
        }

    }
