@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'dm sans';
    text-decoration: none;
    text-transform: none;
}

:root {
    background-color: #C9CBFF;
    --first-color: #45486A;
    --second-color: #F0EDFF;
    --third-color: #ABA9BC;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largeur de la navbar */
    height: 100vh;
    background-color: #45486A;
    z-index: 1000; /* Assure que la navbar est au-dessus des autres éléments */
    border-radius: 0 50px 50px 0;
}

.navbar ul {
    margin-top: 20%;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar a:hover {
    background-color: #ABA9BC;
}

.action {
    margin-left: 5px;
    color: var(--second-color);
}

.action:hover {
    color: #6788FF;
}


.content {
    margin-top: 10%;
    margin-left: 250px; 
    padding: 20px; 
}

/* .form-group {
    margin-bottom: 15px;
} */
.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.form-control {
    /* width: 80%; */
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    /* margin-bottom: 25px; */
}

.programm-form {
    margin-top: 40px;
    margin-bottom: 15px;
}


.content h1 {
    font-size: 30px;
    margin-bottom: 20px;
}


.content h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 5px;
}

.card a {
    color: var(--second-color);
}

.card a:hover {
    color: var(--third-color);
}

/* .card p {
    color: var(--second-color);
} */

.session-list-title {
    margin-left: 10%;
    h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid var(--third-color);
    text-align: left;
    background-color: var(--second-color);
}

.table th {
    background-color: var(--first-color);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: var(--third-color);
}

.table-module {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: var(--first-color);
    border-color: var(--first-color);
    padding: 8px 18px;
    margin-bottom: 10px;
}

.btn-warning {
    color: rgb(0, 0, 0);
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.category-list {
    display: flex;
    width: fit-content;
    padding: 25px;
    background-color: var(--first-color);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.category {
    background-color: var(--second-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
   
}

.category-link {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.category-link:hover {
    text-decoration: underline;
}

.action-links {
    margin-top: 5px;
}

.action-links a {
    margin-right: 10px;
    color: var(--third-color);
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}

.module {
    display: flex;
    background-color: var(--second-color);
    margin: 15px;
    padding: 10px;
    border-radius: 10px; 
}

.card {
    background-color: var( --first-color);
    padding: 20px;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 20px;
    h1,h2 {
        color: #F0EDFF;
    }
}

.modules {
    color: #333;
    .action {
        color: #333;
    }
    .action:hover {
        color: #6788FF;
    }
}

.user-info {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
}

.user-sessions {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
}


.session-info {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
}