@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'dm sans';
    text-decoration: none;
    text-transform: none;
}

:root {
    background-color: #C9CBFF;
    --first-color: #45486A;
    --second-color: #F0EDFF;
    --third-color: #ABA9BC;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largeur de la navbar */
    height: 100vh;
    background-color: #45486A;
    z-index: 1000; /* Assure que la navbar est au-dessus des autres éléments */
}

.navbar ul {
    margin-top: 20%;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar a:hover {
    background-color: #ABA9BC;
}

.content {
    margin-top: 10%;
    margin-left: 250px; 
    padding: 20px; 
}

.session-list-title {
    margin-left: 10%;
}

.table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid var(--third-color);
    text-align: left;
    background-color: var(--second-color);
}

.table th {
    background-color: var(--first-color);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: var(--third-color);
}

.btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: var(--first-color);
    border-color: var(--first-color);
    padding: 8px 18px;
    margin-bottom: 10px;
}

.btn-warning {
    color: rgb(0, 0, 0);
    background-color: var(--second-color);
    border-color: var(--second-color);
}
