{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

<div class="content">
    <a class="btn btn-primary" href="{{ path('new_categorie') }}">Ajouter une catégorie</a><br>
    <a class="btn btn-primary" href="{{ path('new_module') }}">Ajouter un module</a><br><br>
    <h1>Liste des catégories</h1>
    
    <div class="category-list">
        {% for categorie in categories %}
            <div class="category">
                <a class="category-link" href="{{ path('details_categorie', {'id': categorie.id}) }}">{{ categorie }}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
