{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle ccategorie{% endblock %}

{% block body %}
<div class="content">
    {% if edit %}
        <h1>Editer une categorie existante</h1>
    {% else %}
        <h1>Ajoutez une nouvelle categorie</h1>
    {% endif %}

    {{ form_start(formAddCategorie) }}
        <div class="card form-module">
            {{form_row(formAddCategorie.label)}}          
        </div>
        {{form_row(formAddCategorie.valider)}}
    {{ form_end(formAddCategorie) }}
</div>

{% endblock %}