{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle session{% endblock %}

{% block body %}

<div class="content">
    <h1>Modifier le profil</h1>
 
     {{ form_start(formAddUser) }}
     {# {% form_theme form 'foundation_5_layout.html.twig' %} #}
     
            
 
     {{ form_end(formAddUser) }}
</div>

{% endblock %}