{% extends 'base.html.twig' %}

{% block title %} Liste des Users{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


  <div class="content">
    <h1> Liste des Users</h1>

    
    {% if users %}
      <div class="card">
        {% for user in users %}
        <div class="list">
          <a class="" href="{{ path('details_user', {'id': user.id}) }}">{{user}}</a> <br>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Il semblerait qu'aucun user ne soit renseigné en base de données.</p>
    {% endif %}
  </div>

{% endblock %}
